apiVersion: monitoring.coreos.com/v1
kind: PrometheusRule
metadata:
  name: rhtap-integration-service-snapshot-created-to-pipelinerun-started
  labels:
    tenant: rhtap
spec:
  groups:
  - name: integration-service-snapshot-time-to-plr
    interval: 1m
    rules:
    - alert: IntegrationServiceSnapshotTimeToPLR
      expr: |
        (
          (
            increase(integration_svc_snapshot_created_to_pipelinerun_started_seconds_bucket{le="+Inf"}[5m])
            - ignoring(le)
            increase(integration_svc_snapshot_created_to_pipelinerun_started_seconds_bucket{le="5"}[5m])
          ) / ignoring(le)
          increase(integration_svc_snapshot_created_to_pipelinerun_started_seconds_bucket{le="+Inf"}[5m])
        ) > 0.10
      for: 15m
      labels:
        severity: critical
        slo: "true"
      annotations:
        summary: >-
          Latency from an application snapshot created to integration PLRs created
        description: >
          Time from Snapshot created to integration PLRs created has been over
          5s for more than 10% of requests during the last 15 minutes on cluster {{ $labels.source_cluster }}
        alert_team_handle: <!subteam^S05M4AG8CJH>
        team: integration
        runbook_url: https://gitlab.cee.redhat.com/konflux/docs/sop/-/blob/main/integration-service/sre/time_to_start_pipelinerun.md
