apiVersion: monitoring.coreos.com/v1
kind: PrometheusRule
metadata:
  name: rhtap-probe-alerting
  labels:
    tenant: rhtap
spec:
  groups:
    - name: probe_alerts
      interval: 1m
      rules:

      - alert: ProbeAlert
        expr: |
          konflux_up{
          check="probe",
          service!~".*-vpn|.*static-host"
          } != 1
        for: 15m
        labels:
          severity: high
        annotations:
          summary: >-
             Probe alert {{ $labels.job }}.
          description: >-
             Probe alert instance {{ $labels.instance }} with job {{ $labels.job }} and target {{ $labels.target }} for cluster {{ $labels.source_cluster }}.
          alert_routing_key: spreandinfra
          slo: "false"

      - alert: S390xStaticHostProbeAlert
        expr: |
          konflux_up{
          check="probe-s390x",
          service=~".*-static-host"
          } != 1
        for: 15m
        labels:
          severity: high
        annotations:
          summary: >-
             Infra S390x Static Host Probe alert {{ $labels.job }}.
          description: >-
             Probe alert with job {{ $labels.job }} for cluster {{ $labels.source_cluster }}.
          alert_routing_key: spreandinfra
          slo: "false"

      - alert: PPCStaticHostProbeAlert
        expr: |
          konflux_up{
          check="probe-ppc",
          service=~".*-static-host"
          } != 1
        for: 15m
        labels:
          severity: high
        annotations:
          summary: >-
             Infra PPC Static Host Probe alert {{ $labels.job }}.
          description: >-
             Probe alert with job {{ $labels.job }} for cluster {{ $labels.source_cluster }}.
          alert_routing_key: spreandinfra
          slo: "false"

      - alert: VPNProbeAlert
        expr: |
          konflux_up{
          check="probe-vpn",
          service=~".*vpn"
          } != 1
        for: 15m
        labels:
          severity: high
        annotations:
          summary: >-
             VPN Probe alert {{ $labels.job }}.
          description: >-
             Probe alert with job {{ $labels.job }} and target {{ $labels.target }} for cluster {{ $labels.source_cluster }}.
          alert_routing_key: spreandinfra
          slo: "false"

      - alert: PWVSProbeAlert
        expr: |
          konflux_up{
          check="probe-pwvs",
          service=~".*pwvs"
          } != 1
        for: 15m
        labels:
          severity: high
        annotations:
          summary: >-
             PWVS Probe alert {{ $labels.job }}.
          description: >-
             Probe alert with job {{ $labels.job }} and target {{ $labels.target }} for cluster {{ $labels.source_cluster }}.
          alert_routing_key: spreandinfra
          slo: "false"
