apiVersion: monitoring.coreos.com/v1
kind: PrometheusRule
metadata:
  name: rhtap-konflux-kite-availability-alerting
  labels:
    tenant: rhtap
spec:
  groups:
  - name: konflux-kite-availability
    interval: 1m
    rules:
    - alert: KonfluxKiteDown
      expr: |
        last_over_time(
          konflux_up{
            namespace="konflux-kite",
            check="replicas-available",
            service="konflux-kite"
          }[5m]
        ) != 1
      for: 5m
      labels:
        severity: critical
        slo: "true"
        component: konflux-kite
      annotations:
        summary: >-
          konflux-kite is down in cluster {{ $labels.source_cluster }}
        description: >
          The konflux-kite pod has been down for 5min in cluster {{ $labels.source_cluster }}
        team: konflux-ui
        alert_team_handle: <!subteam^S04HY632621>
        runbook_url: https://gitlab.cee.redhat.com/konflux/docs/sop/-/blob/main/kite/sre/kite-down.md

  - name: konflux-kite-endpoint-availability
    interval: 1m
    rules:
    - alert: KonfluxKiteEndpointDown
      expr: |
        sum without (cluster) (last_over_time(kube_endpoint_address{namespace="konflux-kite"}[5m])) == 0
      for: 5m
      labels:
        severity: critical
        slo: "true"
        component: konflux-kite
      annotations:
        summary: >-
          Konflux Kite endpoint is down in cluster {{ $labels.source_cluster }}
        description: >
          There were no Konflux Kite pods behind the endopint for 5min in cluster {{ $labels.source_cluster }}
        alert_team_handle: <!subteam^S04HY632621>
        team: konflux-ui
        runbook_url: https://gitlab.cee.redhat.com/konflux/docs/sop/-/blob/main/kite/sre/endpoint-unavailable.md
