apiVersion: monitoring.coreos.com/v1
kind: PrometheusRule
metadata:
  name: rhtap-pod-alerting-rules
  labels:
    tenant: rhtap
spec:
  groups:
  - name: pod_alerts
    interval: 1m
    rules:
    - alert: UnschedulablePods
      expr: last_over_time(kube_pod_status_unschedulable{namespace!~"(.*-tenant|.*-env|openshift-.*|kube-.*|default|tekton-ci|build-templates-e2e|multi-platform-.*)"}[5m]) == 1
      for: 30m
      labels:
        severity: warning
      annotations:
        summary: Pod {{ $labels.pod }} cannot be scheduled.
        description: >-
          Pod {{ $labels.pod }} for namespace {{ $labels.namespace }} on cluster
          {{ $labels.source_cluster }} is unscheduled for more than 30 minutes.
        alert_routing_key: '{{ $labels.namespace }}'
        runbook_url: https://gitlab.cee.redhat.com/konflux/docs/sop/-/blob/main/o11y/alerting/alert-rules/alert-rule-unschedualablePods.md
    - alert: CrashLoopBackOff
      expr: max_over_time(kube_pod_container_status_waiting_reason{reason="CrashLoopBackOff", namespace!~"(.*-tenant|.*-env|openshift-.*|kube-.*|default|tekton-ci|build-templates-e2e|multi-platform-.*)"}[5m]) >= 1
      for: 15m
      labels:
        severity: warning
      annotations:
        summary: Pod {{ $labels.pod }} is crash looping
        description: >-
          Pod {{ $labels.namespace }}/{{ $labels.pod }} ({{ $labels.container }}) is in
          waiting state (reason: 'CrashLoopBackOff') on cluster
          {{ $labels.source_cluster }} for more than 15 minutes.
        alert_routing_key: '{{ $labels.namespace }}'
        runbook_url: https://gitlab.cee.redhat.com/konflux/docs/sop/-/blob/main/o11y/alerting/alert-rules/alert-rule-crashLoopBackOff.md
    - alert: PodNotReady
      expr: |
            kube_pod_status_phase{phase=~"Pending|Unknown|Failed", namespace!~"(.*-tenant|.*-env|openshift-.*|kube-.*|default|tekton-ci|build-templates-e2e|konflux-ci|mintmaker|multi-platform-.*)"} == 1
            unless ignoring (phase) (kube_pod_status_unschedulable == 1)
      for: 30m
      labels:
        severity: warning
      annotations:
        summary: >-
          Pod {{ $labels.pod }} is not ready
        description: >-
          Pod {{ $labels.pod }} in namespace {{ $labels.namespace }} on cluster
          {{ $labels.source_cluster }} is not ready for more than 30 minutes.
        alert_routing_key: '{{ $labels.namespace }}'
        runbook_url: https://gitlab.cee.redhat.com/konflux/docs/sop/-/blob/main/o11y/alerting/alert-rules/alert-rule-PodNotReady.md

    - alert: PodMemoryUsageExceedsRequested
      expr: |
        avg_over_time(container_memory_usage_bytes{namespace="appstudio-grafana"}[5m])
        > on(namespace, pod, container, source_cluster)
        kube_pod_container_resource_requests{resource="memory", namespace="appstudio-grafana"}
      for: 5m
      labels:
        severity: warning
      annotations:
        team: o11y
        slo: "false"
        summary: >-
          Pod {{ $labels.pod }} memory usage is exceeding the requested resource.
        description: >-
          Pod {{ $labels.pod }} in namespace {{ $labels.namespace }} on cluster
          {{ $labels.source_cluster }} has been running above the requested memory resources.

    - alert: PodCPUUsageExceedsRequested
      expr: |
        avg_over_time(container_cpu_usage_seconds_total{namespace="appstudio-grafana"}[5m])
        > on(namespace, pod, container, source_cluster)
        kube_pod_container_resource_requests{resource="cpu", namespace="appstudio-grafana"}
      for: 5m
      labels:
        severity: warning
      annotations:
        team: o11y
        slo: "false"
        summary: >-
          Pod {{ $labels.pod }} cpu usage is exceeding the requested resource.
        description: >-
          Pod {{ $labels.pod }} in namespace {{ $labels.namespace }} on cluster
          {{ $labels.source_cluster }} has been running above the requested cpu resources.

    - alert: PodOOMKilled
      expr: |
        count(kube_pod_container_status_terminated_reason{reason="OOMKilled",namespace!~"(.*-tenant|.*-env|openshift-.*|kube-.*|default|tekton-ci|build-templates-e2e|konflux-ci|mintmaker)"}) by (source_cluster,namespace,container,pod) >= 1
      for: 5m
      labels:
        severity: warning
        reason: "OOMKilled"
        slo: "false"
      annotations:
        summary: "Pod {{ $labels.pod }} ran out of memory - OOMKilled."
        description: "Pod {{ $labels.pod }} in Namespace {{ $labels.namespace }} was killed due to OOM."
        alert_routing_key: "{{ $labels.namespace }}"
        runbook_url: 'https://gitlab.cee.redhat.com/konflux/docs/sop/-/blob/main/sre/alert-rule-OOMKilledAlert.md'

    - alert: ControllerPodOOMKilled
      expr: |
        count(kube_pod_container_status_terminated_reason{reason="OOMKilled",namespace!~"(.*-tenant|.*-env|openshift-.*|kube-.*|default|tekton-ci|build-templates-e2e|konflux-ci|mintmaker)", pod=~".*controller.*|.*manager.*"}) by (source_cluster,namespace,container,pod) >= 1
      for: 5m
      labels:
        severity: critical
        reason: "OOMKilled"
        slo: "true"
      annotations:
        summary: "Pod {{ $labels.pod }} ran out of memory - OOMKilled."
        description: "Pod {{ $labels.pod }} in Namespace {{ $labels.namespace }} was killed due to OOM."
        alert_team_handle: >- # testing
          <!subteam^S06V06A36F5> <!subteam^S05Q1P4Q2TG>
        runbook_url: 'https://gitlab.cee.redhat.com/konflux/docs/sop/-/blob/main/sre/alert-rule-OOMKilledAlert.md'
